<?xml version="1.0" encoding="utf-8"?>
<lists>
    <list name="spring_effect_whitelist">
        <item value="com.tencent.mm"/>
		<item value="com.xunmeng.pinduoduo"/>
		<item value="com.ss.android.ugc.aweme"/>
		<item value="com.eg.android.AlipayGphone"/>
		<item value="com.tencent.mobileqq"/>
		<item value="com.taobao.taobao"/>
		<item value="com.smile.gifmaker"/>
		<item value="com.snda.wifilocating"/>
		<item value="com.tencent.mtt"/>
		<item value="com.tencent.qqlive"/>
		<item value="com.baidu.searchbox"/>
		<item value="com.qiyi.video"/>
		<item value="com.kugou.android"/>
		<item value="com.autonavi.minimap"/>
		<item value="com.kuaishou.nebula"/>
		<item value="com.tencent.weishi"/>
		<item value="com.tencent.tmgp.sgame"/>
		<item value="com.tencent.android.qqdownloader"/>
		<item value="com.tencent.news"/>
		<item value="com.ss.android.ugc.aweme.lite"/>
		<item value="com.youku.phone"/>
		<item value="com.tencent.tmgp.pubgmhd"/>
		<item value="com.alibaba.android.rimet"/>
		<item value="com.ss.android.article.video"/>
		<item value="com.jingdong.app.mall"/>
		<item value="com.sina.weibo"/>
		<item value="com.tencent.karaoke"/>
		<item value="com.tencent.qqmusic"/>
		<item value="com.tencent.qqpimsecure"/>
		<item value="com.baidu.BaiduMap"/>
		<item value="com.sankuai.meituan"/>
		<item value="com.ss.android.article.news"/>
		<item value="com.baidu.homework"/>
		<item value="com.ss.android.ugc.live"/>
		<item value="com.wuba"/>
		<item value="com.netease.cloudmusic"/>
		<item value="com.sohu.inputmethod.sogou.vivo"/>
		<item value="com.UCMobile"/>
		<item value="tv.danmaku.bili"/>
		<item value="com.ss.android.article.lite"/>
		<item value="com.xingin.xhs"/>
		<item value="com.minitech.miniworld.vivo"/>
		<item value="com.tmri.app.main"/>
		<item value="com.dragon.read"/>
		<item value="com.baidu.haokan"/>
		<item value="com.achievo.vipshop"/>
		<item value="com.chinamworld.main"/>
		<item value="com.android.bankabc"/>
		<item value="com.kmxs.reader"/>
		<item value="com.happyelements.AndroidAnimal"/>
		<item value="com.ximalaya.ting.android"/>
		<item value="com.mt.mtxx.mtxx"/>
		<item value="tv.pps.mobile"/>
		<item value="com.campmobile.snowcamera"/>
		<item value="com.tencent.map"/>
		<item value="com.lemon.lv"/>
		<item value="cn.wps.moffice_eng"/>
		<item value="com.hunantv.imgo.activity"/>
		<item value="com.jifen.qukan"/>
		<item value="com.icbc"/>
		<item value="com.greenpoint.android.mc10086.activity"/>
		<item value="com.le123.ysdq"/>
		<item value="com.yitong.mbank.psbc"/>
		<item value="com.taobao.idlefish"/>
		<item value="com.baidu.netdisk"/>
		<item value="com.iflytek.inputmethod"/>
		<item value="com.jm.video"/>
		<item value="com.kwai.m2u"/>
		<item value="cn.xuexi.android"/>
		<item value="com.taobao.litetao"/>
		<item value="com.jzzs.ParentsHelper"/>
		<item value="com.filemagic"/>
		<item value="com.tencent.androidqqmail"/>
		<item value="com.shoujiduoduo.ringtone"/>
		<item value="com.lemon.faceu"/>
		<item value="com.meitu.meiyancamera"/>
		<item value="com.chinamworld.bocmbci"/>
		<item value="com.tencent.reading"/>
		<item value="com.tencent.qqpim"/>
		<item value="com.netease.mc.vivo"/>
		<item value="com.ss.android.ugc.livelite"/>
		<item value="cn.kuwo.player"/>
		<item value="com.mobile.iroaming"/>
		<item value="com.sinovatech.unicom.ui"/>
		<item value="com.p1.mobile.putong"/>
		<item value="com.sohu.inputmethod.sogou"/>
		<item value="com.moji.mjweather"/>
		<item value="me.ele"/>
		<item value="com.cootek.crazyreader"/>
		<item value="com.immomo.momo"/>
		<item value="com.tencent.wework"/>
		<item value="com.duowan.kiwi"/>
		<item value="com.sdu.didi.psnger"/>
		<item value="com.shyz.toutiao"/>
		<item value="com.sankuai.meituan.takeoutnew"/>
		<item value="com.cleanmaster.mguard_cn"/>
		<item value="com.gorgeous.lite"/>
		<item value="com.android.vending"/>
		<item value="com.google.android.youtube"/>
		<item value="com.google.android.apps.maps"/>
		<item value="com.google.android.gm"/>
		<item value="com.android.chrome"/>
		<item value="com.google.android.apps.docs"/>
		<item value="com.whatsapp"/>
		<item value="com.facebook.orca"/>
		<item value="jp.naver.line.android"/>
		<item value="com.facebook.katana"/>
		<item value="com.instagram.android"/>
		<item value="com.lenovo.anyshare.gps"/>
		<item value="com.lazada.android"/>
		<item value="com.shopee.id"/>
		<item value="com.grabtaxi.passenger"/>
		<item value="com.ubercab"/>
		<item value="com.mxtech.videoplayer.ad"/>
		<item value="video.like"/>
		<item value="ru.yandex.taxi"/>
		<item value="ru.ok.android"/>
		<item value="org.telegram.messenger"/>
		<item value="com.indie.bustime"/>
		<item value="com.imo.android.imoim"/>
		<item value="com.google.android.googlequicksearchbox"/>
		<item value="com.babilonm.app"/>
		<item value="com.zing.zalo"/>
		<item value="com.zhiliaoapp.musically"/>
		<item value="com.ss.android.ugc.trill"/>
		<item value="com.tencent.mm"/>
		<item value="com.truecaller"/>
		<item value="com.nemo.vidmate"/>
		<item value="com.facebook.lite"/>
		<item value="com.viber.voip"/>
		<item value="com.dewmobile.kuaiya.play"/>
		<item value="cn.xender"/>
		<item value="my.gov.onegovappstore.mysejahtera"/>
		<item value="app.buzz.share"/>
		<item value="com.snapchat.android"/>
		<item value="com.emoji.keyboard.touchpal.vivo"/>
		<item value="in.amazon.mShop.android.shopping"/>
		<item value="com.twitter.android"/>
		<item value="com.shopee.ph"/>
		<item value="com.google.android.apps.tachyon"/>
		<item value="im.thebot.messenger"/>
		<item value="com.shopee.my"/>
		<item value="com.UCMobile.intl"/>
		<item value="com.bit.androsmart.kbinapp"/>
		<item value="net.omobio.dialogsc"/>
		<item value="com.hamropatro"/>
		<item value="net.one97.paytm"/>
		<item value="sg.gov.tech.bluetrace"/>
		<item value="com.opera.mini.native"/>
		<item value="com.halo.wifikey.wifilocating"/>
		<item value="sg.gov.mom.sgfwmomcare"/>
		<item value="com.flipkart.android"/>
		<item value="com.imo.android.imoimbeta"/>
		<item value="com.shopee.tw"/>
		<item value="sg.gov.mom.sgworkpass"/>
		<item value="mm.cws.telenor.app"/>
		<item value="com.jio.myjio"/>
		<item value="com.whatsapp.w4b"/>
		<item value="com.google.android.music"/>
		<item value="com.shopee.th"/>
		<item value="nic.goi.aarogyasetu"/>
		<item value="com.gaana"/>
		<item value="lk.bhasha.helakuru"/>
		<item value="mm.com.mptvas"/>
		<item value="com.portonics.mygp"/>
		<item value="com.kmb.app1933"/>
		<item value="com.jazz.jazzworld"/>
		<item value="com.gbwhatsapp"/>
		<item value="in.startv.hotstar"/>
		<item value="com.epi"/>
		<item value="us.zoom.videomeetings"/>
		<item value="com.tencent.ibg.joox"/>
		<item value="com.eterno"/>
		<item value="com.google.android.apps.magazines"/>
		<item value="com.singtel.hiaccount"/>
		<item value="com.audiomack"/>
		<item value="com.jumia.android"/>
		<item value="com.opera.app.news"/>
		<item value="com.transsion.phoenix"/>
		<item value="com.jrzheng.supervpnfree"/>
		<item value="gogolook.callgogolook2"/>
		<item value="com.rotha.calendar2015"/>
		<item value="com.google.android.videos"/>
		<item value="com.google.android.apps.translate"/>
		<item value="com.opera.browser"/>
		<item value="com.google.android.apps.meetings"/>
		<item value="com.shopee.vn"/>
		<item value="com.microsoft.teams"/>
		<item value="com.hamrokeyboard"/>
		<item value="com.myairtelapp"/>
		<item value="com.zong.customercare"/>
		<item value="com.yahoo.mobile.client.android.mail"/>
		<item value="com.ooredoo.selfcare"/>
		<item value="com.dewmobile.kuaiya"/>
		<item value="com.jio.media.jiobeats"/>
		<item value="com.telkomsel.telkomselcm"/>
		<item value="com.imo.android.imoimhd"/>
		<item value="ee.mtakso.client"/>
		<item value="com.silverdialer.app"/>
		<item value="com.shopee.sg"/>
		<item value="com.mytel.myid"/>
		<item value="com.daraz.android"/>
		<item value="my.com.maxis.hotlink.production"/>
		<item value="com.facebook.mlite"/>
		<item value="com.gojek.app"/>
		<item value="com.bsbportal.music"/>
		<item value="com.netflix.mediaclient"/>
		<item value="com.live.live4d"/>
		<item value="com.lazygeniouz.saveit"/>
		<item value="in.mohalla.sharechat"/>
		<item value="network.kalock.myanmar2d"/>
		<item value="com.selfcare.safaricom"/>
		<item value="com.cricbuzz.android"/>
		<item value="com.picsart.studio"/>
		<item value="com.transsnet.news.more.ngblog"/>
		<item value="com.naing.englishmyanmardictionary"/>
		<item value="com.hdictionary.bn"/>
		<item value="com.trendmicro.qrscan"/>
		<item value="livio.pack.lang.en_US"/>
		<item value="net.omobio.robisc"/>
		<item value="np.com.nepalipatro"/>
		<item value="com.telenor.pakistan.mytelenor"/>
		<item value="com.spotify.music"/>
		<item value="com.pinterest"/>
		<item value="lk.ikman"/>
		<item value="com.google.android.apps.youtube.mango"/>
		<item value="com.merriamwebster"/>
		<item value="com.alibaba.aliexpresshd"/>
		<item value="com.digi.portal.mobdev.android"/>
		<item value="com.waze"/>
		<item value="com.vuclip.viu"/>
		<item value="com.amazon.avod.thirdpartyclient"/>
		<item value="com.tokopedia.tkpd"/>
		<item value="sg.bigo.live"/>
		<item value="com.kwai.global.video.social.kwaigo"/>
		<item value="club.fromfactory"/>
		<item value="com.global.foodpanda.android"/>
		<item value="com.til.timesnews"/>
		<item value="id.co.babe"/>
		<item value="sg.ndi.sp"/>
		<item value="com.news.on"/>
		<item value="com.shazam.android"/>
		<item value="com.afmobi.boomplayer"/>
		<item value="net.omobio.airtelsc"/>
		<item value="com.pickme.passenger"/>
		<item value="com.khmercreator.khmermusicbox"/>
		<item value="com.thecarousell.Carousell"/>
		<item value="com.michatapp.im"/>
		<item value="com.vng.inputmethod.labankey"/>
		<item value="com.olx.ssa.ke"/>
		<item value="com.olx.pk"/>
		<item value="com.tencent.wesing"/>
		<item value="net.kilimall.shop"/>
		<item value="bh.bahrain.corona.tracker"/>
		<item value="sachith.com.dictionary.offline"/>
		<item value="com.google.android.talk"/>
		<item value="com.mobilefootie.wc2010"/>
		<item value="com.xb.topnews"/>
		<item value="com.opera.app.newslite"/>
		<item value="com.yy.hiyo"/>
		<item value="com.vivo.vtsperformancetool"/>
    </list>
</lists>